body, html
{	
	font-family: Lucida Bright;
	background: url("movieback.jpg") fixed;
	background-image: url("movieback.jpg");
	background-size: cover;
}
h1
{

	font-family: Algerian;
	padding: 20px;
	text-align: center;
	color: #d05a2b;
	background-color: #f2ebf3f7;
	width: auto;
	margin: 5px;
	border: 10px solid #6f0761ab;
}
h2
{
	width: auto;
	margin: 5px;
	font-family: Cooper Black;
	padding: 20px;
	text-align: center;
	color: #fc4b60;
	background-color: #d4d5dae3;
	border: 10px solid #4c3430ab;
}
.photo
{
	float: right;
	border: 2px solid #fba7a1;
	width: 430px;
	height: 650px;
	padding: 20px;	
	
}
.look
{
	background-color: #3b7a9ce6;
	border: 3px solid #206abde6;
	width: auto;
	height: 50%;
	padding: 20px;
	text-align: left;
	font-family: Eras Demi ITC;
	font-size: 20px;
	color: #edec99;
	margin-bottom: 20px;
}
.nav
{
	background-color: #d2d291db;
	border: 5px solid #b37b0acc;
	text-align: center;
	font-size: 30px;
}
