body, html
{	
	font-family: Lucida Bright;
    background: url("movieback.jpg") fixed;
    background-image: url("movieback.jpg");
    background-size: cover;
}
h1
{

	font-family: Algerian;
	padding: 20px;
    text-align: center;
	color: #d05a2b;
	background-color: #f2ebf3f7;
	width: 1250px;
	margin: 5px;
	border: 10px solid #6f0761ab;
}
h2
{
	width: 1250px;
	margin: 5px;
	font-family: Cooper Black;
	padding: 20px;
    text-align: center;
	color: #169443;
	background-color: #d4d5dae3;
	border: 10px solid #4c3430ab;
}
.context{
	margin: 5px;
	width: 1335px;
}
.photo{
	width: 430px;
	height: 650px;
	padding: 20px;	display: block;
}
.left
{
	background-color: #3b7a9ce6;
	float: left;
	width: 800px;
	height: 100%;
	padding: 20px;
	text-align: left;
	font-family: Eras Demi ITC;
	font-size: 20px;
	color: #edec99;
	margin-bottom:15px;	display: block;
}
.img {
    margin-bottom: 10px;
    height: 710px;

}
.right
{
	background-color: #2f9fbde6;
	float: left;
	width: 470px;
	height: 100%;
	text-align: center;
	display: block;
}
.nav
{
	background-color: #d2d291db;
	text-align: center;
	font-size: 30px;
}